@font-face {
  font-family: "Zig";
  src: local("Zig"), url(./assets/zig/zig_____.ttf) format("truetype");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TutorialSlide {
  font-family: "Zig";
  font-size: 1.6em;
  padding-left: 10%;
  padding-right: 10%;
}

.TutorialSlide div {
  margin-top: 10%;
}

.InstructionOverlay {
  font-family: "Zig";
  color: white;
  position: absolute;
  font-size: 1em;
  opacity: 0.5;
}

.InstructionOverlay div {
  position: relative;
}

.InstructionOverlay div div {
  margin-top: 20px;
}
